<form class="mt-4" name"container-form" method="POST" action="/courses/handleFormActionsTrash">
  <div class="">
  <a href="/me/stored/courses">Danh sach khoa hoc</a>
  <h3>Khoa hoc da xoa</h3>

  <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="checkbox-all"
        />
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>

      <select
        class="form-select form-select-sm checkbox-select-all-options"
        aria-label="Default select example"
        name="action"
        required
        style="width: 160px; margin: 0 16px;"
      >
        <option value=""> -- Hành động -- </option>
        <option value="PATCH">Khôi phục</option>
        <option value="DELETE">Xóa</option>
      </select>

      <button class="btn btn-primary btn-sm check-all-submit-btn disabled">
        Apply
      </button>
    </div>

  </div>
  

  <table class="table mt-4">
    <thead>
      <tr>
        <th></th>
        <th scope="col">STT</th>
        <th scope="col">Ten khoa hoc</th>
        <th scope="col">Trinh do</th>
        <th scope="col" colspan="3">Thoi gian xóa</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="{{this._id}}"
                name="courseIds[]"
              />
            </div>
          </td>
          <td scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.deletedAt}}</td>

          <td>
            <a
              href=""
              type="button"
              class="btn btn-link btn-restore"
              data-id="{{this._id}}"
            >Khoi phuc</a>
          </td>

          <td>
            <a
              href=""
              type="button"
              class="btn btn-link"
              data-bs-toggle="modal"
              data-bs-target="#delete-course-modal"
              data-id="{{this._id}}"
            >Xoa vinh vien</a>
          </td>
        </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Thùng rác trống
          <a href="/me/stored/courses">Danh sách khóa học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{! Confirm delete course }}
<div class="modal" tabindex="-1" id="delete-course-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa không</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Cancel</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST"></form>

<form name="restore-course-form" method="POST"></form>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var restoreForm = document.forms['restore-course-form'];
    var containerForm = document.forms['container-form'];
    var btnDeleteCourse = document.getElementById('btn-delete-course');
    var restoreBtn = $('.btn-restore');
    var checkBoxAll = $('#checkbox-all');
    var checkBoxEachElement = $('input[name="courseIds[]"]');
    var buttonSubmit = $('.check-all-submit-btn');
    var selectRouteSubmit = $('select[name="action"]');

    $('#delete-course-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    courseId = button.data('id');
    });

    btnDeleteCourse.onclick = function() {
      deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
      deleteForm.submit();
    }

    restoreBtn.click(function(e) {
      e.preventDefault();

      console.log(e)

      var courseId = $(this).data('id');

      restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
      restoreForm.submit();

    })

    checkBoxAll.change(function (e) {
      var isCheckedAll = $(this).prop('checked');

      checkBoxEachElement.prop('checked', isCheckedAll);
      renderAgainInterfaceWhenCheckboxClicked();
    })

    checkBoxEachElement.change(function (e) {
      var isCheckedAll = checkBoxEachElement.length === $('input[name="courseIds[]"]:checked').length;

      checkBoxAll.prop('checked', isCheckedAll);
      renderAgainInterfaceWhenCheckboxClicked();
    })

    buttonSubmit.on('submit', function (e) {
      var isSubmitTable = !$(this).hasClass('disabled');

      if (!isSubmitTable) {
        e.preventDefault();
      }
    })

    function renderAgainInterfaceWhenCheckboxClicked() {
      var isCheckBoxIsChecked = $('input[name="courseIds[]"]:checked').length;

      if (isCheckBoxIsChecked) {
        $('.check-all-submit-btn').removeClass('disabled');
      } else {
        $('.check-all-submit-btn').addClass('disabled');
      }
    }
  })
</script>